.width800{
  width:800px;
}

.mt{
  margin-top: 80px;
}

.disp-bl{
  display: block;
}

.mt_inp{
  margin-top: 12px;
}

.mtpx{
  margin-top: 14px;
}

.mt_radio{
  margin-top: 6px;
}

.row-height{
  height: 50px;
}
