doctype html
html
	head
		title Аукцион
		link(rel='stylesheet', href='/stylesheets/w3.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		script(src="/javascript/jquery.js")
		script(src="/javascript/jquery-ui.js")
		script(src="/javascript/index.js")
		script(src="http://localhost:3030/socket.io/socket.io.js")
