doctype html
html
	head
		meta(charset="utf-8")
		title Информация о книге
		include head.pug
		link(rel="stylesheet", href="/public/style/book_info.css")

	body
		.container
			.row.mt1
				.col-sm-12
					a(href="/books")
						button.btn.btn-primary К списку книг
