script(src='/public/scripts/jquery_bootstrap/jquery-3.3.1.min.js')
script(src='/public/scripts/jquery_bootstrap/popper.min.js')
script(src='/public/scripts/jquery_bootstrap/bootstrap.min.js')
script(src='/public/scripts/jquery_bootstrap/jquery.validate.min.js')
link(rel="stylesheet", href="/public/style/bootstrap.css")